body {
  background-image:url(/public/image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #010101;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  height: 100%; 
  flex-wrap: wrap;
}

.pomodoro {
  font-size: 6em;
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btn-add,
.btn-stop,
.btn-reset {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
  color: #6b3232;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
}

.input-group input {
  font-size: 0.5em;
  padding: 5px;
  margin: 5px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #9d8e8e;
 
}
.input-group {
  margin-right: 20px; 
}



.body-timer, .input-group{
 
  background-color: rgba(186, 167, 167, 0.5);
  background-blend-mode: lighten;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #7d7151;
  margin-bottom: 5px;
  min-width: 300px; 
  min-height: 350px;
  margin: 250px 50px;

}


.time, .break {
  display: flex;

  gap: 5px; 
}

.time h6, .break h6 {
  margin: 0; 
  font-size: 1ex; 
padding: 10px;
}